<section class="section_style">
  <h2 class="section_header">Lorem ipsum dolor sit amet</h2>

  <ul class="card_list">
    <li class="card_item card_visual_styles light-gray">
      <div class="card_header card_header_visual_styles orange">
        <p class="card_header_number">1</p>
        <h3 class="card_header_text">Lorem ipsum dolor sit amet</h3>
      </div>

      <p class="card_main_text">
        Ut eget ullamcorper elit, sed aliquam dui. Integer rutrum venenatis elit
        in convallis. Ut justo libero, posuere a nibh quis, sollicitudin
        venenatis ipsum. Ut vestibulum quis mauris vel posuere. Pellentesque ut
        sem nec massa elementum ultricies. Nulla efficitur rutrum lacus, id
        mattis ligula
      </p>
    </li>

    <li class="card_item card_visual_styles orange">
      <div class="card_header card_header_visual_styles white">
        <p class="card_header_number">2</p>
        <h3 class="card_header_text">Lorem ipsum dolor sit amet</h3>
      </div>

      <p class="card_main_text">
        Ut eget ullamcorper elit, sed aliquam dui. Integer rutrum venenatis elit
        in convallis. Ut justo libero, posuere a nibh quis, sollicitudin
        venenatis ipsum. Ut vestibulum quis mauris vel posuere. Pellentesque ut
        sem nec massa elementum ultricies. Nulla efficitur rutrum lacus, id
        mattis ligula
      </p>
    </li>

    <li class="card_item card_visual_styles black">
      <div class="card_header card_header_visual_styles white">
        <p class="card_header_number">3</p>
        <h3 class="card_header_text">Lorem ipsum dolor sit amet</h3>
      </div>

      <p class="card_main_text white">
        Ut eget ullamcorper elit, sed aliquam dui. Integer rutrum venenatis elit
        in convallis. Ut justo libero, posuere a nibh quis, sollicitudin
        venenatis ipsum. Ut vestibulum quis mauris vel posuere. Pellentesque ut
        sem nec massa elementum ultricies. Nulla efficitur rutrum lacus, id
        mattis ligula
      </p>
    </li>
  </ul>

  <button class="list_button">Lorem</button>
</section>
