<section>
  <h2 class="section_header">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </h2>

  <p class="section_description">
    Ut eget ullamcorper elit, sed aliquam dui. Integer rutrum venenatis elit in
    convallis. Ut justo libero, posuere a nibh quis, sollicitudin venenatis
    ipsum. Ut vestibulum quis mauris vel posuere. Pellentesque ut sem nec massa
    elementum ultricies. Nulla efficitur rutrum lacus, id mattis ligula mattis
    sed.
  </p>

  <div class="slick-carousel content">
    <div class="slider multiple-items">
      <div class="swiper_card">
        <img alt="img" src="./images/img.png" class="slider_card_img" />
        <p class="swiper_card_text">Lorem lorem</p>
        <button class="swiper_button">Lorem ipsum</button>
      </div>

      <div class="swiper_card">
        <img alt="img" src="./images/img.png" class="slider_card_img" />
        <p class="swiper_card_text">Lorem lorem</p>
        <button class="swiper_button">Lorem ipsum</button>
      </div>

      <div class="swiper_card">
        <img alt="img" src="./images/img.png" class="slider_card_img" />
        <p class="swiper_card_text">Lorem lorem</p>
        <button class="swiper_button">Lorem ipsum</button>
      </div>

      <div class="swiper_card">
        <img alt="img" src="./images/img.png" class="slider_card_img" />
        <p class="swiper_card_text">Lorem lorem</p>
        <button class="swiper_button">Lorem ipsum</button>
      </div>

      <div class="swiper_card">
        <img alt="img" src="./images/img.png" class="slider_card_img" />
        <p class="swiper_card_text">Lorem lorem</p>
        <button class="swiper_button">Lorem ipsum</button>
      </div>

      <div class="swiper_card">
        <img alt="img" src="./images/img.png" class="slider_card_img" />
        <p class="swiper_card_text">Lorem lorem</p>
        <button class="swiper_button">Lorem ipsum</button>
      </div>
    </div>

    <button type="button" class="slick-prev-custom">
      <img src="./images/leftArrow.png" />
    </button>

    <button type="button" class="slick-next-custom">
      <img src="./images/rightArrow.png" />
    </button>
  </div>
</section>
